data/t10k-images-idx3-ubyte.gz
data/t10k-labels-idx1-ubyte.gz
data/train-images-idx3-ubyte.gz
data/train-labels-idx1-ubyte.gz
models/checkpoint
models/model.ckpt.index
models/model.pb
models/model.ckpt.data-00000-of-00001
models/model.ckpt.meta
